.practice-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: rgb(241, 198, 136);
}

.exercises-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 25px 50px;
}

.cart-container {
  background-color: rgb(19, 126, 126)2);
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
  .exercises-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .practice-container {
    display: grid;
    grid-template-columns: none;
  }
}
