.question-container {
  /* margin-left: 50px;
  margin-right: 80px; */
  background-color: rgb(243, 219, 188);
  padding-top: 100px;
  
}

.answer {
  margin-left: 50px;
  margin-right: 300px;
  
}

* {
  margin: 0;
  /* padding: 0; */
}

@media only screen and (max-width: 600px) {
  .answer {
  margin-left: 50px;
  margin-right: 80px;
}
}
